header{
    background-color: beige;
    color: rgb(0, 0, 0);
}
main{
    background-color: burlywood;
}

footer{
    background-color: antiquewhite;
}
th{
    background-color: darkgray;
}
tr{
    background-color: cadetblue;
}
body{
    background-color: rgb(47, 49, 50);
}